{% extends 'base.html' %}

{% block content %}
{% load static %}


</div>

<div class="cart-container-body">
    <table class="cart-container-products">
        <tr>
            <td></td>
            <td>Produktname</td>
            <td>Menge</td>
            <td>Preis</td>
            <td></td>
        </tr>
        <tr>    
            <td>Bild</td>
            <td>Tasse</td>
            <td>1</td>
            <td>10 €</td>
            <td></td>

        </tr>


    </table>
</div>
</div>


{% endblock %}